<div class="cards-index">
  <% @raids.each do |raid| %>
    <div class="card-raid-center">
      <h6><%= raid.name %></h6>
      <%= link_to image_tag(raid.image), raid_path(raid), class: "card-raid"%>
    </div>
  <% end %>
</div>
<br>

<div class="text-center" style="margin-bottom: 1em">
  <%= link_to 'Voir plus de raids', raids_path, class: "btn btn-green" %>
</div>
