<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Mage Noir"), class: "card-raid blm" %>

  <%= link_to " ", jobs_path(:name=>"Mage Rouge"), class: "card-raid rdm" %>

  <%= link_to " ", jobs_path(:name=>"Invocateur"), class: "card-raid smn" %>
</div>
