<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Mage Noir"), class: "card-job blm" %>

  <%= link_to " ", jobs_path(:name=>"Mage Rouge"), class: "card-job rdm" %>

  <%= link_to " ", jobs_path(:name=>"Invocateur"), class: "card-job smn" %>
</div>
