<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Mage Blanc"), class: "card-job whm" %>

  <%= link_to " ", jobs_path(:name=>"Erudit"), class: "card-job sch" %>

  <%= link_to " ", jobs_path(:name=>"Astromancien"), class: "card-job ast" %>

  <%= link_to " ", jobs_path(:name=>"Sage"), class: "card-job sge" %>
</div>
