<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Mage Blanc"), class: "card-raid whm" %>

  <%= link_to " ", jobs_path(:name=>"Erudit"), class: "card-raid sch" %>

  <%= link_to " ", jobs_path(:name=>"Astromancien"), class: "card-raid ast" %>

  <%= link_to " ", jobs_path(:name=>"Sage"), class: "card-raid sge" %>
</div>
