<div class="cards-job">
  <% @jobs.each do |job| %>
    <%= link_to image_tag(job.image), job_path(job), class: "card-job job-opener"%>
  <% end %>
</div>

<br>
<div class="text-center" style="margin-bottom: 1em">
  <%= link_to 'Voir tous les jobs', jobs_path, class: "btn btn-green" %>
</div>
