<div class="cards">
  <% @ranges.each do |range| %>
    <div class="card-raid">
      <%= link_to "#{range.name} - #{range.acronym}", job_path(range), style: "margin-bottom: 3em" %>
      <% if range.image.key %>
        <%= link_to cl_image_tag(range.image.key), job_path(range), class: "icons" %>
      <% else %>
        <%= link_to image_tag("rescue.png"), job_path(range), class: "icons" %>
      <% end %>
    </div>
  <% end %>
</div>
