<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Barde"), class: "card-raid brd" %>

  <%= link_to " ", jobs_path(:name=>"Machiniste"), class: "card-raid mch" %>

  <%= link_to " ", jobs_path(:name=>"Danseur"), class: "card-raid dnc" %>
</div>
