<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Barde"), class: "card-job brd" %>

  <%= link_to " ", jobs_path(:name=>"Machiniste"), class: "card-job mch" %>

  <%= link_to " ", jobs_path(:name=>"Danseur"), class: "card-job dnc" %>
</div>
