<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Paladin"), class: "card-raid pld" %>

  <%= link_to " ", jobs_path(:name=>"Guerrier"), class: "card-raid war" %>

  <%= link_to " ", jobs_path(:name=>"Chevalier Noir"), class: "card-raid drk" %>

  <%= link_to " ", jobs_path(:name=>"Pistosabreur"), class: "card-raid gnb" %>
</div>
