<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Paladin"), class: "card-raid tank" %>

  <%= link_to " ", jobs_path(:name=>"Guerrier"), class: "card-raid war" %>

  <%= link_to " ", jobs_path(:name=>"Chevalier Noir"), class: "card-raid melee" %>

  <%= link_to " ", jobs_path(:name=>"Pistosabreur"), class: "card-raid ranged " %>
</div>
