<div class="cards">
  <%= link_to " ", jobs_path(:name=>"Paladin"), class: "card-job pld" %>

  <%= link_to " ", jobs_path(:name=>"Guerrier"), class: "card-job war" %>

  <%= link_to " ", jobs_path(:name=>"Chevalier Noir"), class: "card-job drk" %>

  <%= link_to " ", jobs_path(:name=>"Pistosabreur"), class: "card-job gnb" %>
</div>
