<div class="cards">
  <% @tanks.each do |tank| %>
    <div class="card-raid">
      <%= link_to "#{tank.name} - #{tank.acronym}", job_path(tank), style: "margin-bottom: 3em" %>
      <% if tank.image.key %>
        <%= link_to cl_image_tag(tank.image.key), job_path(tank), class: "icons" %>
      <% else %>
        <%= link_to image_tag("rescue.png"), job_path(tank), class: "icons" %>
      <% end %>
    </div>
  <% end %>
</div>
