<div class="banner">
  <div class="container">
    <h1>Bienvenue à <strong>Ok Zundu</strong> !</h1>
    <p>Devenez une machine auprès de monstres.</span></p>

    <%= link_to 'Accéder aux raids', raids_path, class: "btn btn-green" %>
    <%= link_to 'Voir les jobs', jobs_path, class: "btn btn-green" %>
  </div>
</div>
