
.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-green:hover {
  background: #1BCB7F;
  color: white;
}

.btn-turquoise {
  color: $light-gray;
  background-color: $green;
  background-clip: padding-box;
  border-radius: 5px;
  margin-left: 5px;
  width: 8em;
}

.btn-turquoise:hover {
  color: $black;
  background-color: $light-green;
}

@media (min-width: 100px) and (max-width: 575px) {
  .btn-turquoise {
    width: 3em;
  }
}
