.cards-job {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.card-job {
  a {
    justify-content: center;
    width: 25em;
  }

  img {
    background-size: cover;
    background-position: center;
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
  }

}

.card-job:hover {
  opacity: 0.9;

}


.card-job-show {
  img {
  background-size: cover;
  background-position: center;
  width: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-job-show { img {
    width: 13em;
    height: auto;
  }}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-job { img {
    width: 13em;
    height: 8em;
  }}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-job { img {
    width: 25em;
  }}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-job { img {
    width: 20em;
  }}
}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-job { img {
    width: 20em;
  }}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1800px) {
  .card-job { img {
    width: 25em;
  }}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-job {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-job {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-job {
    grid-template-columns: 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-job {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-job {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1800px) {
  .cards-job {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.tank {
  background-image: url(tank.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.healer {
  background-image: url(healer.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.melee {
  background-image: url(melee.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.ranged {
  background-image: url(ranged.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.caster {
  background-image: url(caster.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.blue-mage {
  background-image: url(blue-mage.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
