.card-raid {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  background-color: black;

  img {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
  }

  img:hover {
    opacity: 0.9;
  }

}

.card-raid-center {
  margin: 0 auto;
}

.card-raid-show {
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  background-color: black;
  margin: 0 auto;

  img {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: relative;
  }

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  h6 {
    font-size: 10px;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-mobile {
    margin: 0 auto;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-raid {img{
    width: 20rem;
    height: 7rem;
  }}

  .card-raid {
    width: 20rem;
    height: 7rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-raid {img {
    height: 200px;
    width: 485px;
  }}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-raid {img {
    height: 200px;
    width: 380px;
  }}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-raid {img {
    height: 200px;
    width: 485px;
  }}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .card-raid {
    height: 6em;
    width: 18em;
  }

  .card-raid {img {
    height: 6em;
    width: 18em;
  }}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1450px) {

  .card-raid {
    height: 6em;
    width: 18em;
  }

  .card-raid {img {
    height: 6em;
    width: 18em;
  }}
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-raid-show { img {
    width: 10em;
    height: 125px;
  }}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-raid-show {
    width: 10em;
    height: 125px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-raid-show {img {
    height: 200px;
    width: 450px;
  }}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-raid-show {img {
    height: 200px;
    width: 380px;
  }}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-raid-show {img {
    height: 200px;
    width: 450px;
  }}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-raid-show {img {
    height: 200px;
    width: 450px;
  }}
}

.extreme {
  background-image: url(Hydaelyn.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sadique {
  background-image: url(Erichtonios.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.fatal {
  background-image: url(Ultima.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.bahamut {
  background-image: url(BahamutS.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.alexander {
  background-image: url(AlexanderS.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.omega {
  background-image: url(OmegaS.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.eden {
  background-image: url(EdenS.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.pandaemonium {
  background-image: url(PanS.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.ucob {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
