.pld {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.war {
  background-image: url(war.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.drk {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.gnb {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.whm {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sch {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.ast {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sge {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.mnk {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.drg {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.nin {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sam {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.rpr {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.brd {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.mch {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.dnc {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.blm {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.rdm {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.smn {
  background-image: url(UCOB.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.tank {
  background-image: url(tank.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.healer {
  background-image: url(healer.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.melee {
  background-image: url(melee.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.ranged {
  background-image: url(ranged.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.caster {
  background-image: url(caster.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.blue-mage {
  background-image: url(blue-mage.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
