.card-job {
  // background-size: cover;
  // background-position: center;
  // height: 280px;
  // width: 450px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // color: $white;
  // font-size: 24px;
  // font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // border-radius: 5px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // position: relative;

  a {
    justify-content: center;
  }

  img {
    background-size: cover;
  background-position: center;
  width: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  }

}

.card-job:hover {
  opacity: 0.9;

}



.pld {
  background-image: url(pld.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.war {
  background-image: url(war.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.drk {
  background-image: url(drk.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.gnb {
  background-image: url(gnb.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.whm {
  background-image: url(whm.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sch {
  background-image: url(sch.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.ast {
  background-image: url(ast.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sge {
  background-image: url(sge.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.mnk {
  background-image: url(mnk.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.drg {
  background-image: url(drg.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.nin {
  background-image: url(nin.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.sam {
  background-image: url(sam.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.rpr {
  background-image: url(rpr.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.brd {
  background-image: url(brd.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.mch {
  background-image: url(mch.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.dnc {
  background-image: url(dnc.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.blm {
  background-image: url(blm.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.rdm {
  background-image: url(rdm.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.smn {
  background-image: url(smn.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.tank {
  background-image: url(tank.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.healer {
  background-image: url(healer.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.melee {
  background-image: url(melee.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.ranged {
  background-image: url(ranged.png), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.caster {
  background-image: url(caster.jpg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}

.blue-mage {
  background-image: url(blue-mage.jpeg), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
}
