// a {
//   text-decoration: none;
//   color: $black;
// }

// a:hover {
//   // opacity: 0.9;
//   color: initial;
// }

.login-navbar {
  text-decoration: none;
  color: white;
}

.login-navbar:hover {
  text-decoration: none;
  color: black;
}
