.navbar-zundu {
  background-color: $dark-blue;
  // transition: 0s background-color ease;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.navbar-zundu .navbar-collapse {
  flex-grow: 0;
}

@media (min-width: 100px) and (max-width: 575px) {
  .navbar-zundu .navbar-collapse {
    flex-grow: 1;
  }
}

#nav-ul {
  flex-direction: row;
  width: 100px;
}

.navbar-zundu .navbar-brand {
  justify-content: flex-start;
  margin-left: 10px;
}

.navbar-zundu .navbar-brand img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 4px;
}

.navbar-zundu .navbar-brand img:hover {
  opacity: 0.9;
}

.zundu-link-layout {
  justify-content: space-between;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 2px;
  margin-right: 10px;
}

@media (min-width: 768px) {
  .zundu-link-layout {
  justify-content: space-between;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 2px;
  margin-right: 20px;
  }
}

.nav-zundu-link {
  padding: 1px;
  color: $light-gray;
  text-decoration: none;
}

.nav-zundu-link:hover {
  color: #b2b8dd;
}

.navbar-zundu-white {
  background-color: white;
}
