.navbar-zundu {
  background-color: white;
  transition: 0s background-color ease;
}

.navbar-zundu .navbar-collapse {
  flex-grow: 0;
}

.navbar-zundu .navbar-brand {
  justify-content: flex-start;
}

.navbar-zundu .navbar-brand img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.navbar-zundu .navbar-brand img:hover {
  opacity: 0.9;
}

.avatar-layout {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
}

.navbar-zundu-white {
  background-color: white;
}
